/*========================== Header ========================== */
header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-brand .pipe{
    display: block;
    width: 0.08rem;
    height: 1.8rem;
    background: var(--black);
}

#wrapper-phone-button{
    margin-right: 1rem;
}

/*========================== Car presentation ========================== */

/*========================== Car title ========================== */
.navigation p,
.navigation a{
    font-size: 0.8rem;

}

.navigation a{
    text-decoration: underline;
}

.navigation a:hover{
    color: var(--black);
}

/*========================== Car description ========================== */
.car-description h3{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 400;
}

.car-description h3 span{
    font-weight: 700;
}

.car-description h3 .pipe{
    display: block;
    width: 0.3rem;
    height: 2rem;
    background: #e5e5e5;
}

/*========================== Car info ========================== */
.car-info .pipe{
    background: var(--black);
    height: 0.3rem;
    margin-top: 2.5rem;
}

/*========================== Car highlight ========================== */
.car-highlighs{
    display: grid;
    justify-content: center;
    grid-template-columns: 8rem 8rem;
    gap: 1rem;
}

.car-highlight{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/*========================== BMW Video ========================== */
#bmw-video-player{
    width: 100%;
    height: 80vh;
}

/*========================== Footer ========================== */
.footer{
    position: relative;
}

.footer .pipe{
    display: block;
    width: 100%;
    height: 0.09rem;
}

.footer .pipe[data-color="white"]{
    background: var(--white);
}

.footer .pipe[data-color="gray"]{
    background: var(--dark-gray);
}

/*========================== Social midia ========================== */
.social-midias{
    margin-bottom: 2rem;
}

.social-midia-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-midia-buttons a{
    padding: 0.2rem;
    text-decoration: none;
}

/*========================== Enterprise ========================== */
.enterprise-info div{
    display: flex;
    gap: 1rem;
}

.enterprise-info a{
    text-decoration: underline;
    color: var(--white);
}


/*========================== Copyright ========================== */
.copyright h6{
    font-size: 0.8rem;
}

.copyright h6 a{
    text-decoration: underline;
    color: var(--white);
}

